.intro-container {
  background-color: black;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.intro-text {
  color: white;
  font-size: 72px;
  font-weight: 300;
}
